<mat-card>
  <mat-card-header>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="alert-section">
      <app-alert></app-alert>
    </div>
    </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onClick('success','Congratulations! Operation completed successfuly')">Success</button>
    <button mat-button (click)="onClick('error','Exception raised while performing the operation')">Error</button>
    <button mat-button (click)="onClick('info','This is to let you know something has happened')">Info</button>
    <button mat-button (click)="onClick('warning','Becareful! a problem on the horizon, better watch out')">Warning</button>
  </mat-card-actions>
</mat-card>
<br>
